<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<div layout:fragment="content">

	<div class="panel-heading">Register Page</div>
	<div class="panel-body">

		<form th:action="@{registerCarrier}" method="post">

			<div name="CarrierDB">
				<div name="ontimeRegisterTable">
					<table>
						<tr>
							<th><label>항공사 코드</label></th>
							<td>
								<div class="form-group">
									<input class="form-control" name="code" th:value="${carrier.code}" />
								</div>
							</td>
							<th><label>항공사 이름</label></th>
							<td>
								<div class="form-group">
									<textarea class="form-control" rows="3" name='description'
										th:text="${carrier.description}"></textarea>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<button type="submit" class="btn btn-default">Submit Button</button>
				<button type="reset" class="btn btn-primary">Reset Button</button>
		</form>

	</div>

</div>
<!--  end fragment -->

<th:block layout:fragment="script">

	<script th:inline="javascript">
		
	</script>

</th:block>