<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<div layout:fragment="content">

	<div class="panel-heading">Register Page</div>
	<div class="panel-body">

		<div>
			<div name="ontime">
				<h3>
					<a class="label label-default" th:href="@{registerOntime}">운항 	기록 추가</a>
				</h3>
			</div>
			<div name="carrier">
				<h3>
					<a class="label label-default" th:href="@{registerAirport}">공항 추가</a>
				</h3>
			</div>
			<div name="airport">
				<h3>
					<a class="label label-default" th:href="@{registerCarrier}">항공사 추가</a>
				</h3>
			</div>
		</div>
	</div>
	<!--  end fragment -->

	<th:block layout:fragment="script">

		<script th:inline="javascript">
			
		</script>

	</th:block>